<%= form_for(@salida) do |f| %>
  <% if @salida.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@salida.errors.count, "error") %> prohibited this salida from being saved:</h2>

      <ul>
      <% @salida.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :producto_id %><br>
    <%= f.text_field :producto_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.text_field :cantidad %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
