<h1>Lista de salidas</h1>

<table>
  <thead>
    <tr>
      <th>Producto</th>
      <th>Usuario</th>
      <th>Cantidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @salidas.each do |salida| %>
      <tr>
        <td><%= salida.producto.nombre %></td>
        <td><%= salida.user.email %></td>
        <td><%= salida.cantidad %></td>
        <td><%= link_to 'Mostrar', salida %></td>
        <% if can? :update, salida %>
          <td><%= link_to 'Editar', edit_salida_path(salida) %></td>
        <% end %>
        <% if can? :destroy, salida %>
        <td><%= link_to 'Eliminar', salida, method: :delete, data: { confirm: 'Are you sure?' }%></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Salida', new_salida_path,  :class => "button secondary" %>
