<p id="notice"><%= notice %></p>

<p>
  <h6>Producto:</h6>
  <%= @salida.producto.nombre %>
</p>

<p>
  <h6>User:</h6>
  <%= @salida.user.email %>
</p>

<p>
  <h6>Cantidad:</h6>
  <%= @salida.cantidad %>
</p>

<%= link_to 'Editar', edit_salida_path(@salida),  :class => "button secondary" %> 
<%= link_to 'Atras', salidas_path,  :class => "button secondary" %>
