<%= form_for(@ingreso) do |f| %>
  <% if @ingreso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ingreso.errors.count, "error") %> prohibited this ingreso from being saved:</h2>

      <ul>
      <% @ingreso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="large-4 columns">
    <div class="field">
      <%= f.label :producto_id %><br>
      <%= f.collection_select :producto_id, Producto.all, :id ,:nombre %>
    </div>
    
    <div class="field">
      <%= f.label :cantidad %><br>
      <%= f.text_field :cantidad %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
