<p id="notice"><%= notice %></p>

<p>
  <h6>Producto:</h6>
  <%= @ingreso.producto.nombre %>
</p>

<p>
  <h6>User:</h6>
  <%= @ingreso.user.email %>
</p>

<p>
  <h6>Cantidad:</h6>
  <%= @ingreso.cantidad %>
</p>

<%= link_to 'Editar', edit_ingreso_path(@ingreso),  :class => "button secondary" %> 
<%= link_to 'Atras', ingresos_path,  :class => "button secondary" %>
