<%= form_for(@recibido) do |f| %>
  <% if @recibido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recibido.errors.count, "error") %> prohibited this recibido from being saved:</h2>

      <ul>
      <% @recibido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ropa_id %><br>
    <%= f.collection_select :ropa_id, Ropa.all, :id ,:nombre %>
  </div>
  <div class="field">
    <p>Para ingresar al inventario seleccione en procedecia "Ingreso a Inventario" y en cantidad el total a ingresar</p>
    <%= f.label :procedencia_id %><br>
    <%= f.collection_select :procedencia_id, Procedencia.all, :id ,:nombre %>
  </div>
  <div class="field">
    
    <%= f.label :cantidad %><br>
    <%= f.number_field :cantidad %>
  </div>
  <div class="field">
    <%= f.label :rotas %><br>
    <%= f.number_field :rotas %>
  </div>
  <div class="field">
    <%= f.label :manchada %><br>
    <%= f.number_field :manchada %>
  </div>
  
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
