<!DOCTYPE html>
<html>
<head>
  <title>Ecohoteles</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Administración Ecohoteles",welcome_index_path%></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
  		<% if user_signed_in? %>
	      <li class="has-dropdown">
	        <a href="#"><%= current_user.email %></a>
	        
		        <ul class="dropdown">
		          <li><%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
		      	
		        </ul>
		     
	      </li>
	    <% end %>
    </ul>
</nav>

<div class="row">
	<% if user_signed_in? %>
	  <div class="small-2 columns">
	  	<div class="icon-bar vertical five-up">
	  <p class="item">
	    <%= image_tag "homee.png", :alt => ""%>
	   
	    <%= link_to "Home",welcome_index_path%>
	  </p>
	  <p class="item">
	    <%= image_tag "bar.png", :alt => ""%>
	    
	    <%= link_to "Bar",productos_path%>
	  </p>
	  <p class="item">
	   <%= image_tag "cloth.png", :alt => ""%>
	    <%= link_to "Ropas Blancas",ropas_path%>
	  </p>
	 
	 
	</div>
	  </div>
<% end %>
<% if user_signed_in? %>
  <div class="small-10 columns">
  	<%= yield %>
  </div>
<% else %>
  <div class="row">
  	<div class="small-3 columns"><br></div>
	  <div class="small-6 columns">
	  	<%= yield %>
	  </div>
	 <div class="small-3 columns"><br></div>
  	
<% end %>
</div>


</body>
</html>
